@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: OnsenJapan;
    src: url('/public/fonts/OnsenJapanDemoRegular.ttf');
}

.main-hero,
.section-about,
.section-menus {
    height: 39rem;
}

@media (min-width:1440px) {
    .main-hero,
    .section-about,
    .section-menus {
        height: 49rem;
    }
}

body {
    background-color: #13161f;
}

.font-openJapan {
    font-family: OnsenJapan;
}