@tailwind base;
@tailwind components;
@tailwind utilities;


.main-hero {
    height: 39rem;
}

@media (min-width:1440px) {
    .main-hero {
        height: 49rem;
    }
}

body {
    background-color: #13151E;
}